<section>
  <header class="navbar" [ngClass]="{ fixed: true }">
    <div class="logo">
      <p id="logo">JP</p>
    </div>
    <i class="fa-solid fa-bars fa-2xl" id="hamburger"></i>
    <i class="fa-solid fa-times fa-2xl" id="close"></i>
    <div class="list-item-wrap"></div>
    <ul class="list-item">
      <li>
        <a href="#home" class="link active" data-filter="home">Home</a>
      </li>
      <li><a href="#about" class="link" data-filter="about">About</a></li>
      <li><a href="#work" class="link" data-filter="work">Work</a></li>
      <li>
        <a href="#skills-interest" class="link" data-filter="skills-interest"
          >Skills and Interest</a
        >
      </li>
      <li>
        <a href="#biodata" class="link" data-filter="biodata">Biodata</a>
      </li>
      <li>
        <a href="#contact" class="link" data-filter="contact">Contact</a>
      </li>
    </ul>
  </header>
</section>
