<section id="work" class="section">
    <h2><strong>Work Experience:</strong></h2>
    <div class="experience">
      <h3>
        <strong>Company Name: </strong> <span>Ogayem properties</span>
      </h3>
      <span class="position"
        ><strong>Position held: </strong>Site Engineer</span
      >
      <span class="date"><i>Date: August 2023 - October 2023</i></span>
      <ul>
        <li>
          Construction and Supervision of a semi-detached 5-bedroom duplex
          with 3 units of a 3-bedroom apartment
        </li>
        <li>
          Monitor labour hours and material production to assure that
          projects are on time and on budget
        </li>
        <li>
          Daily report of previous work done and work schedule with
          accuracy
        </li>
        <li>
          Giving directives and instruction to store keeper for request of
          material when the available cannot be sufficient for the ongoing
          work stage
        </li>
      </ul>
    </div>

    <div class="experience">
      <h3>
        <strong>Company Name: </strong
        ><span>EIG Paints & Chemicals Industry</span>
      </h3>
      <span class="position"
        ><strong>Position held: </strong>Facilitator</span
      >
      <span class="date"><i>Date: May 2022 - February 2023</i></span>
      <ul>
        <li>
          Facilitated the training of Corp Members in production of
          various types of paints with practical experiences.
        </li>
        <li>Practical on-site experiences on painting</li>
        <li>Practical production of different types of paints</li>
        <li>Preparation of monthly cash flows</li>
      </ul>
    </div>

    <div class="experience">
      <h3>
        <strong>Company Name: </strong> <span>Regsam Associates</span>
      </h3>
      <span class="position"
        ><strong>Position held: </strong>Assistant Site Engineer</span
      >
      <span class="date"><i>Date: December 2017 - November 2018</i></span>
      <ul>
        <li>
          Construction of a mega filling station with 9-pms pumps, and 3
          others pumps at Airport road, Ikeja
        </li>
        <li>
          Construction of a two-storey building office complex at Airport
          road, Ikeja
        </li>
        <li>
          Assisted the engineer on site and acted as the on-site
          supervisor in absence of the site engineer and project manager
          by supervising site workers and giving necessary reports to the
          Site engineer
        </li>
        <li>
          Kept records of site materials in the stead of site store keeper
        </li>
      </ul>
    </div>
  </section>