<section id="about" class="section">
  <h2><strong>About Me:</strong></h2>
  <p>
    Elugbaju Paul Ajibola is a graduate of Civil Engineering from The
    Polytechnic, Ibadan, Oyo State, Nigeria. Born on the 26th of November in the
    city of Lagos, he hails from Osun State, Ife-Central LG and is born into the
    family of 5, having two siblings. He had his National Youth Service in Benin
    City, Edo State from April 2022 to March 2023. He started building interest
    in software development in late 2022 where he started sorting out for
    academies who can well teach software development and make his dream a
    reality. He has also had several work experineces in his field of study at
    school which will be listed in this portfolio page below.
  </p>
  <h2><strong>Education:</strong></h2>
  <ul>
    <li>
      <strong>The Polytechnic, Ibadan</strong> - Higher National Diploma
      <span class="date"><i>2018 - 2021</i></span>
    </li>
    <li>
      <strong>The Polytechnic, Ibadan</strong> - National Diploma
      <span class="date"><i>2015 - 2017</i></span>
    </li>
  </ul>
</section>
