<section>
  <div id="biodata" class="section">
    <p><strong>Nationality:</strong> Nigeria</p>
    <p><strong>State of Origin:</strong> Osun State</p>
    <p><strong>Sex:</strong> Male</p>
    <p><strong>Marital Status:</strong> Single</p>
  </div>

  <div id="contact" class="section">
    <p><strong>Telephone:</strong> <i> 08148804209</i></p>
    <p><strong>Email:</strong> <i> harjibbolar26&#64;gmail.com</i></p>
    <p>
      <strong>LinkedIn:</strong>
      <i><a href="https://wwww.linkedin.com/in/jibbypaul">clickhere</a></i>
    </p>
    <p>
      <strong>Address:</strong>
      <i> 4, Slyvia Okon, Badore, Ajah, Lagos</i>
    </p>
  </div>
</section>
